@using SimpleMemberShip.Models
@model Users
@{
    ViewBag.Title = "Login";
}
<div class="jumbotron">
    <h2>Se Connecter</h2>
    <div>
        @using (@Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <label> Entrer votre Login: </label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            <label> Entrer votre Mot de Passe: </label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <br />
            <button class="btn btn-primary">Connexion</button><br /><br />
           

        }
    </div>
    </div>

